@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
}

h1,ul{
    color: red;
}

p,div{
    color: rgb(88, 26, 188);
    
}

h1,ul{
  font-family: serif
  
}

.markerad{
    background-color: rgb(119, 115, 115);
}

#unik {
    font-weight: 700;
}

div {
    font-style: italic;
}

body {
    background-image: url("https://i.ytimg.com/vi/0kqr8vgF5TI/maxresdefault.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: monospace;
    font-size: 20px;
    line-height: 1.2;
    
}